@use "tailwindcss" as *;
@use './light-theme.scss';
@use './dark-theme.scss';



html.light-theme {
  --background-color: #fff;
  --text-color: #000;
}

html.dark-theme {
  --background-color: #333;
  --text-color: #fff;
}
